<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
    </header>
    <body>
        <h1 style="text-align: center; font-size: 25px;">NodeJS-based GeoTracking Application</h1>
        <div class="main">
            <img style="width:40%;margin-left:30%;" src="../public/img/geolocation.png" alt="App logo">
            <p style="text-align: center;"><button onclick="getLocationNow()">Locate me!</button></p>
            <p style="text-align: center; font-size: 18px;" id="position"></p>
            <p style="text-align: center; font-size: 18px;" id="updated"></p>
            <p style="text-align: center; font-size: 18px;" id="updated-count"></p>
        </div>
        <script>
            const positionElement = document.getElementById("position");
            const updatedElement = document.getElementById("updated");
            const updatedCount = document.getElementById("updated-count");
            const locationOptions = {maximumAge:0,enableHighAccuracy:true};
            const time = {
                year: new Date().getFullYear(),
                month: new Date().getMonth(),
                day: new Date().getDate(),
                hour: new Date().getHours(),
                minute: new Date().getMinutes(),
                second: new Date().getSeconds(),
                toStr: function(){
                    return `${this.year}-${this.month}-${this.day} ${this.hour}:${this.minute}:${this.second}`;
                }
            }
            function getLocationNow(){
                if (navigator.geolocation) {
                    cnt = 1;
                    navigator.geolocation.watchPosition(showPositionNow, showError, locationOptions);
                    console.log("geolocation updated");
                    updatedCount.innerHTML = "UpdateCount: " + cnt;
                    cnt++;
                }
            }
            function showPositionNow(position){
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                var geoTxt = "Your geolocation: <br><br>" + "Latitude: " + lat + "<br>Longitude: " + lon;
                positionElement.innerHTML = geoTxt;
                updatedElement.innerHTML = "Updated at: " +new Date();
            }
            function showError(error){
                console.log(error);
            }
        </script>
    </body>
    <footer>
      <p style="text-align: center;">Created by &copy; swifty94</p>
      <h3 style="text-align: center;"><a href="https://github.com/swifty94/geo-tracker-nodejs">GitHub</a></h3>
    </footer>
</html>