<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
        <link rel="stylesheet" href="../public/css/main.css" type="text/css"/>
        <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
        <script type = "text/javascript" src = "https://www.google.com/jsapi"></script>
        <script type = "text/javascript">google.charts.load('current', {packages: ['map']});</script>
    </header>
    <body>
        <h1 id="title">NodeJS-based GeoTracking Application</h1>
        <div class="main">
            <img id="logo" src="../public/img/geolocation.png" alt="App logo">
            <p><button onclick="getLocationNow()">Show me on map</button></p>
            <p><button onclick="watchLocationNow()">Track my location</button></p>
            <div id="static-map">
            </div>
            <div id="live-table">
            <table id="position-updates">
                <thead>
                    <tr>
                        <th>ChangeID</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Speed</th>
                        <th>Accuracy</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
            <br>
        </div>
        <script src="../public/js/client.js"></script>
    </body>
    <footer>
      <p>Created by &copy; swifty94</p>
      <h3 style="text-align: center;"><a href="https://github.com/swifty94/geo-tracker-nodejs">GitHub</a></h3>
    </footer>
</html>